<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row text-center"> 
           
                 <div class="col-xs-9 text-left"><h5><a href="https://www.facebook.com/tkrasner" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>acebook</a> | <a href="https://www.linkedin.com/in/timur-krasner-819430137/" target="_blank">linked <i class="fa fa-linkedin" aria-hidden="true"></i></a> | <a class="linkdin" href="https://plus.google.com/104695937935339430055"  style="color:aliceblue" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i>oogle+</a></h5></div>

                    <div class="menu col-xs-3 text-left">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bottom-collapse"> <!-- NOTE! data-target was changed to .bottom-collapse -->
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse bottom-collapse"> 
                      <ul class="nav navbar-nav">
                        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                        <li><a href="{% url 'store:home' %} ">eCommerce-Project</a></li>
                        
                        </ul>
                    </div>
                
                
                    </div>

            </div>
        </div>
 